/* James Murphree
   CSS module */

.leftside img {
	max-width: 100%;
	max-height: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.leftside nav ul li {
	width: 100%;
	float: left;
	text-align: center;
}

.contentinner {
	margin: 1rem;
}

.leftside a {
	border-style: solid;
	border-width: 3px;
	border-color: white;
	padding: 2px;
}

.leftside li {
	margin: .4rem;
}

.leftside nav {
	display: block;
	margin-left: -40px;
}

.topbar {
	background-color: #363C74;
}