/* James Murphree
   CSS state */

@media(max-width: 750px) {
	.leftside {
		float: left;
		width: 100%;
		margin-top: 10px;
	}

	.content {
		float: left;
		width: 100%;
	}

	.bottom {
		float: left;
		position: relative;
	}

	.topbar {
		background-color: #E8D3A2;
	}

	h1 {
		color: #363C74;
		background-color: #E8D3A2;
	}

}