.inner {
	margin: 0 auto;
	width: 95%;
}

.mast {
	float: left;
	width: 33%;
}

/*ul.nav {
	float: right;
	margin: 40px 0 1em;
	text-align: center;
	width: 65.9375%
}*/

.intro, .main, .footer {
	float: right;
	width: 66%;
}

.intro {
	margin-top: 117px;
}